<div class="post-card card p-4">
    <h2 class="page-title">New Post</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="content">Blog:</label>
        <textarea class="form-textarea" type="text" id="content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>
<script src="./js/newPost.js"></script>